@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    /* background-image: url(../public/bg.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed; */
    background: #152735;
    overflow-x: hidden;    
}

body:has(.modal--active) {
    overflow: hidden;
    padding-right: 9px;
}

/* main > div::after {
  content: '';
  z-index: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0px;
  width: 100%;
  height: 100%;
  background-image: url(../public/blob.svg);
  background-repeat: no-repeat;
  mix-blend-mode: overlay;
  transform: scaleX(-1);
  pointer-events: none;
} */

main > div {
  
  position: relative;
  width: 100vw;
}

.bg-bubble{
  position: fixed;
  
  transform: translate(-50%, -50%);
  width: 600px;
  height: 600px;
  background-image: radial-gradient(hsl(163deg 78% 46%) 30%, hsl(228deg 100% 53%));
  border-radius: 50%;
  filter: blur(120px);
  mix-blend-mode: overlay;
  z-index: -1;
}

.bg-bubble.top{
  top: -40%;
  left: 0%;
}

.bg-bubble.middle{
  top: 100vh;
  left: 100%;
}

/* CUSTOM SCROLL 
------------------------------------------------*/

::-webkit-scrollbar {
  width: 9px;
  background-color: rgb(0, 37, 50);
  
}

::-webkit-scrollbar-thumb {
  background-color: rgb(129, 157, 215, .5);
  border-radius: 10px;
  height: 200px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgb(129, 157, 215, .8);
}

/* HERO
------------------------------------------------*/
.screen{
  border-radius: 16px;
  backdrop-filter: blur(10px);
  filter: blur(-1px);
  position: absolute;
  width: 435px;
  height: 260px;
  /* transform: perspective(900px) rotateY(147deg) skewY(349deg) translateY(-50%); */
  transform-origin: top center;
}

.screen.editor{
  background: url(../public/images/hero/editor-screen.svg), rgb(21 66 100 / 51%);
  top: 50%;
  left: 50%;
  z-index: 50;
}

.screen.mockup1{
  background: url(../public/images/hero/mockup1-screen.svg), rgb(93 152 195 / 51%);
  /* top: 30%;
  left: 0%; */
  top: 50%;
  left: 50%;
}

.screen.mockup2{
  background: url(../public/images/hero/mockup2-screen.svg), rgb(93 152 195 / 51%);
  /* top: 40%;
  right: -5%; */
  top: 50%;
  left: 50%;
}

/* Image BG */

.hero-bg::after{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  /* Created with https://www.css-gradient.com */
  background: #142736;
  background: -webkit-radial-gradient(ellipse at center, #264db133, #142736 70%);
  background: -moz-radial-gradient(ellipse at center, #264db133, #142736 70%);
  background: radial-gradient(ellipse at center, #264db133, #142736 70%);
}

/* SHAPE DIVIDER
------------------------------------------------*/

.shape-divider {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100vw;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.shape-divider svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 124px;
    transform: rotateY(180deg);
}

.shape-divider .shape-fill {
    fill: #0a1218;
}



#gradient-canvas {
  width:100vw;
  height:100vh;
    /* --gradient-color-1: #024a50; 
    --gradient-color-2: #092d2e; 
    --gradient-color-3: #054c64;  
    --gradient-color-4: #0b427c; */
  --gradient-color-1: #043D5D; 
  --gradient-color-2: #032E46;
  --gradient-color-3: #007765;
  --gradient-color-4: #0F595E;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}
  

/* .root{
    transform: perspective(1300px) rotateY(49deg) translateY(38px) scale(0.5);
    width: 100vw;
    height: 100vh;
    overflow*x: hidden;
    overflow-y: auto;
    background: #14274e;
    transition: 0.3s;
} */