@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    background-image: url(../public/bg.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    overflow-x: hidden;    
}

body:has(.modal--active) {
    overflow: hidden;
    padding-right: 9px;
}

main section:not(:first-child){
    background-color: rgb(4, 5, 7, .7);
    width: 100vw;
}

::-webkit-scrollbar {
  width: 9px;
  background-color: rgb(0, 37, 50);
  
}

::-webkit-scrollbar-thumb {
  background-color: rgb(129, 157, 215, .5);
  border-radius: 10px;
  height: 200px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgb(129, 157, 215, .8);
}

.custom-shape-divider-bottom-1666745174 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1666745174 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 124px;
    transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1666745174 .shape-fill {
    fill: rgb(4, 5, 7, .7);
}


/* .root{
    transform: perspective(1300px) rotateY(49deg) translateY(38px) scale(0.5);
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    background: #14274e;
    transition: 0.3s;
} */