@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-image: url(../public/bg.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    overflow-x: hidden;
}

body:has(.modal--active) {
    overflow: hidden;
    padding-right: 15px;
}
